*{
  margin: auto;
  font-family: Dancing Script;
  }
  body{
    max-width: 900px;
    background: #02010a;
    }
#contenido{
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background-color: #5b7989;
}
  #encabezado{
  color: white;
  }
#titulo{
  margin: 0;
  text-shadow: 2px 2px #02010a;
  }
#menu{
  margin: 0;
    }
nav a{
      color: white;
    }
a[href="paisajes.html"]{
  text-decoration: none;
}
img{
  box-shadow: 2px 2px #02010a;}

#galeria{
  background-color: #d5c75f;
  box-sizing: border-box;
  }
#imagen1{
  -webkit-filter:blur(10px);
  filter: blur(10px);}
#imagen2{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);}
#imagen4{
    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);}
#imagen6{
      -webkit-filter:grayscale(100%);
      filter: grayscale(100%);}
#imagen3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);}

#pie_de_pagina{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  }
  article{
    box-sizing: border-box;
  }
  #encabezado{
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    0%{margin-top: 150%;}
    60%{margin-top: -5%;}
    100%{margin-top: 0%;}
    }
  @media screen and (min-width:900px){
    #encabezado{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #titulo{
      margin: auto;
      width: 50%;
      text-align: left;
    }
    #menu{
      margin: auto;
      width: 50%;
      text-align: right;
      }
    #galeria{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    img[src]{
      box-sizing: border-box;
      margin: 3px;
      width: 30%;
    }
    #pie_de_pagina{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      }
      article[class]{
        margin-top: 0;
        width: 25%;
      }
  }
  @media screen and (max-width:899px){
    #contenido{
      display: block;
      width: 100%;
    }



  }
