body{
  background-color: #5b7989;
  border-radius:10px 10px 0px 0px;
}
.bloque_titulo{
  float: left;
  color: white;
  text-shadow: 2px 2px #02010a;
}
.bloque_menu{
  float:  right;
  color: white;
}
#inicio{
  text-decoration: none;
}
.bloque_imagen_cental{
  text-align: center;
  background-color: red;
}
.bloque_imagen_secundaria{
text-align: center;
background-color: #d5c75f;
border: 1px solid;
}
#paisajes{

transition:
}
